@model IEnumerable<Food_Web.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = null;
}

<div class="products-slider owl-carousel owl-loaded owl-drag" data-item="4">
    @foreach (var item in Model)
    {
        <div class="item">
            <div class="image-container">
                <a class="item-img-wrapper-link" href="@Url.Action("Detail", "Home", new { id = item.Productid })">
                    <img class="img-fluid" src="~/Content/products/@item.image" alt="Product">
                </a>
                <div class="item-action-behaviors">
                    @*<a class="item-quick-look" data-toggle="modal" href="@Url.Action("Details", "Product", new { id = item.Productid })">
                            Quick Look
                        </a>*@


                    @*<a class="item-mail" href="javascript:void(0)">Mail</a>*@
                    <a class="item-addwishlist" href="javascript:void(0)" data-id="@item.Productid">Add to Wishlist</a>
                    <a class="item-addCart" href="javascript:void(0)" data-id="@item.Productid">Add to Cart</a>
                </div>
            </div>
            <div class="item-content">
                <div class="what-product-is">
                    <ul class="bread-crumb">
                        <li class="has-separator">
                            <a href="@Url.Action("Index", "Product")">home</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Product")">@item.Category.Categoryname</a>
                        </li>
                    </ul>

                    <h6 class="item-title">
                        <a href="single-product.html">@item.Productname</a>
                    </h6>
                    <div class="item-stars">
                        <div class='star' title="0 out of 5 - based on 0 Reviews">
                            <span style='width:0'></span>
                        </div>
                        <span>(0)</span>
                    </div>
                </div>
                <div class="price-template">
                    @if (item.DiscountPercent > 0)
                    {
                        <div class="item-new-price">
                            @item.DiscountedPrice
                        </div>
                        <div class="item-old-price">
                            @item.price
                        </div>
                        <div class="tag new" style="background: #ffd507 ">
                            <span>-@item.DiscountPercent %</span>
                        </div>

                    }
                    else if (item.DiscountPercent == null)
                    {
                        if (item.is_hot == true)
                        {
                            <div class="item-new-price">
                                @item.price
                            </div>
                            <div class="tag new" style="background: #FF4500">
                                <span>Hot</span>
                            </div>

                        }
                        <div class="item-new-price">
                            @item.price
                        </div>
                        <div class="tag new" >
                            <span>new</span>
                        </div>
                    }
                </div>
            </div>
            <div class="tag new">
                <span>NEW</span>
            </div>
        </div>
    }
</div>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.js"></script>
@section scripts{
    <script>
        $(document).ready(function () {
        });
        $(".menu-tab-wp li").click(function () {
            var categoryID = $(this).attr("data-filter");
            $.ajax({
                url: '/Product/GetProductByCategory',
                type: "GET",
                data: { "categoryid": categoryID },
                success: function (result) {
                    $('.menu-list-row').html(result);
                },
                error: function (err) {
                    alert(err.statusText);
                }
            });
        });

        $(".menu-tab-wp li").click(function () {
            var categoryID = $(this).attr("data-filter");
            $.ajax({
                url: '/Product/GetProductByCategory',
                type: "GET",
                data: { "categoryid": categoryID },
                success: function (result) {
                    $('.menu-list-row').html(result);
                },
                error: function (err) {
                    alert(err.statusText);
                }
            });
        });



    </script>
}
